body {
  margin: 0;
  font-family: sans-serif;
  color: #272727;
}

.container {
  max-width: 500px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}

.loading-text {
  margin: 50px 0;
  text-align: center;
}